<h1>Interesting People!</h1>
<div ng-app="app">
  <div ng-controller="peopleCtrl">
    <div ng-repeat="person in people">
      <h2 ng-click="toggleBio($index)">{{ person.name }}</h2>
      <h3 ng-if="person.bioVisible">{{ person.bio }}</h3>
    </div>
  </div>
</div>